button {
    padding: 10px;
    background-color: rgba(10, 49, 107, 0.951);
    font-size: large;
    margin-left: 20px;
    color: white;
}

section {
    margin-top: 1em;
}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */