<!-- <div>
  <p [class.completed]="task.completed">ID: {{ task.id | date: 'short' }}</p>
  <h4 [class.completed]="task.completed"></h4>
  <p [class.completed]="task.completed">Description: </p>
  <button (click)="onCompleted(task)" mat-stroked-button (click)="openSnackBar('Completed', 'close')">Completed</button>
  <button (click)="onDelete(task)" mat-stroked-button (click)="openSnackBar('Deleted', 'close')">Delete</button>
  <hr>    
</div> -->
<div class="tasks-container">
  <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title [class.completed]="task.completed"> Title: {{ task.title }}</mat-card-title>
        <mat-card-subtitle [class.completed]="task.completed"> Description: {{ task.description }}</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-content>
        <p [class.completed]="task.completed">ID: {{ task.id | date: 'short' }}</p>
        <p [class.completed]="task.completed">Status: {{ task.completed ? 'Completed' : 'Pending' }}</p>
      </mat-card-content>
    
      <mat-card-actions>
        <button (click)="onCompleted(task); openSnackBar('Completed', 'close')" mat-stroked-button>
          Completed
        </button>
        <button (click)="onDelete(task); openSnackBar('Deleted', 'undo')" mat-stroked-button>
          Delete
        </button>
        <button (click)="onEdit(task);" mat-stroked-button>
          Edit
        </button>
      </mat-card-actions>
    </mat-card>
  
    <form *ngIf="isSelected" [formGroup]="editForm" (ngSubmit)="saveTask(selectedTask)">
      <div class="label-input">
        <label>Title:</label>
        <input formControlName="title" />
      </div>
      <div class="label-input">
        <label>Description:</label>
        <input formControlName="description"/>
      </div>
      <button (click)="saveTask(selectedTask)">Save</button>
    </form>
</div>
  
  