form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    font:900;
    font-size: larger;
}
button {
    margin-top: 1em;
    margin: 10px;
    font-size: 2em;
    background-color: rgb(59, 113, 230);
    border-radius: 15px;
}
.login {
    font: 800;
}
.switch{
    background-color: rgb(43, 226, 83);
}

input {
    font-size:x-large;
    margin-top: 10px;
}

h3 {
    width:fit-content;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.735);
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}